.container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	overflow: hidden;
	cursor: pointer;
	border: 5px solid rgba(0, 0, 0, .1);
	transition: transform 0.3s;
	color: white;
}

.container:hover {
	transform: scale(1.1);
}

.container button {
	position: absolute;
	padding: 3px 4px 2px 4px;
	border-radius: 7px;
	background: rgba(0, 0, 0, .3);
}

.container button:hover {
	background: rgba(0, 0, 0, .3);
	color: lightgray;
}

.dark {
	color: black;
}


@media screen and (orientation:portrait) {
	.container {
		width: 100%;
		margin-top: 20px;
	}
}