* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
	display: flex;
}

.col {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.col h2 {
	padding: 10px;
	color: #fff;
	border-radius: 10px;
	transition: background 0.3s;
}

.col h2:hover {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.col button {
	border: none;
	background: transparent;
	font-size: 1.5rem;
	color: #fff;
	padding: 10px;
	border-radius: 10px;
	transition: background 0.3s;
	outline: none;
}

.col button:hover {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.status {
  display: none;
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding: 5px;
  background: green;
  font-size: 0.8rem;
  color: white;
  text-align: center;
}

.show-satus {
  display: block;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.7;
}

.settings {
	position: absolute;
	top: 0;
	width: 100%;
	height: 40px;
	
}

.settings .button-box {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.settings button {
	border: none;
	background: transparent;
	font-size: 1.5rem;
	color: #fff;
	padding: 3px 5px;
	transition: background 0.3s;
	outline: none;
	margin-right: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.settings button:hover {
	background: rgba(255, 255, 255, 0.3);
}

.saved-colors {
	position: absolute;
	height: 0px;
	width: 100%;
	bottom: 0px;
	transition: height 0.3s;
	color: white;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.saved-colors.visible {
	height: 40px;
	overflow: visible;
}

.saved-colors .colors-wrapper {
	position: absolute;
	width: 80%;
	height: 100%;
	overflow: hidden;
}

.saved-colors .colors-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	transition: margin .3s;
}

.saved-colors .color-set {
	display: flex;
	width: 200px;
	flex-shrink: 0;
	margin-right: 20px;
	cursor: pointer;
}

.color-set .color-small {
	width: 40%;
	height: 30px;
}

.saved-colors button {
	position: absolute;
	z-index: 1;
	border: none;
	background: transparent;
	font-size: 1.5rem;
	color: #fff;
	padding: 3px 3px 0 3px;
	transition: background 0.3s;
	outline: none;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}

.saved-colors button:hover {
	color: #a00448;
}

.saved-colors button[data-type="close"] {
	top: -30px;
	right: 5px;
	background: black;
	opacity: 0.7;
}

.saved-colors button[data-type="next"] {
	top: 5px;
	right: 5px;
}

.saved-colors button[data-type="prev"] {
	top: 5px;
	left: 5px;
}