.gallery {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery_background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.7;
}

.gallery_wrapper {
	position: relative;
	width: 80%;
	overflow: hidden;
}

.gallery_content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	overflow: hidden;
	transition: margin .3s;
}

.gallery_content > div {
	flex-shrink: 0;
	margin-right: 15px;
}


.gallery button[data-type="prev"],
.gallery button[data-type="next"] {
	position: absolute;
	z-index: 1;
	color: gray;
}

.gallery button[data-type="prev"]:hover,
.gallery button[data-type="next"]:hover {
	background: transparent;
	color: lightgray;
}

.gallery button[data-type="next"] {
	right: 5%;
}

.gallery button[data-type="prev"] {
	left: 5%;
}


@media screen and (orientation:portrait) {
	.gallery {
		height: 100%;
		left: 0;
		top: 0;
	}

	.gallery_wrapper {
		height: 80%;
	}

	.gallery_content {
		flex-direction: column;
		padding: 0;
	}

	.gallery_content > div {
		margin-right: 0;
	}

	.gallery button[data-type="next"] {
		right: initial;
		top: 3%;
	}

	.gallery button[data-type="prev"] {
		left: initial;
		bottom: 2%;
	}
}