.tooltip {
	position: absolute;
	z-index: 300;
}

.tooltip_pointer_up {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

.tooltip_pointer_bottom {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
}

.tooltip_pointer_right {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid black;
}

.tooltip_pointer_left {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-100%, -50%);
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid black;
}

.tooltip_body {
	width: 100px;
	padding: 3px;
	border-radius: 3px;
	background: black;
	color: white;
	font-size: 0.8em;
	text-align: center;
}

