.container {
	position: absolute;
	padding: 1px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 7px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	color: white;
	z-index: 2;
}

.dark {
	color: black;
}


@media screen and (orientation:portrait) {
	.container {
		display: none;
	}
}