.container {
	position: absolute;
	padding: 1px;
	top: 45%;
	left: 50%;
	transform: translate(-50%);
	border: 7px solid rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	color: white;
	z-index: 2;
}

.container > div {
	display: flex;
}

.container > div > div {
	margin: 1px;
	background: rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: background 0.3s;
}

.container > div > div:hover {
	background: rgba(0, 0, 0, 0.5);
}

.container > div > div:first-child {
	border-radius: 50px 0px 0px 50px;
}

.container > div > div:last-child {
	border-radius: 0px 50px 50px 0px;
}

.container button {
	width: 50px;
	height: 100px;
}

.container button:hover {
	background: transparent;
	color: lightgray;
	transition: color 0.3s;
}

.dark {
	color: black;
}