.logo {
	padding: 3px 10px;
	border: 3px solid rgba(0, 0, 0, .1);
	border-radius: 7px;
	font-size: 1.5em;
	font-weight: 600;
	font-style: italic;
	letter-spacing: 1px;
	background: #1a253b;
}

.logo_letter1 {
	color: red;
}

.logo_letter2 {
	color: orange;
}

.logo_letter3 {
	color: yellow
}

.logo_letter4 {
	color: green;
}

.logo_letter5 {
	color: blue;
}

.logo_letter6 {
	color: purple;
}

.logo_letter7 {
	color: violet;
}

@media screen and (orientation:portrait) {
	.logo {
		display: none;
	}
}