.container {
	position: relative;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container button {
	position: absolute;
}

.container button:hover {
	transform: scale(1.1);
	background: transparent;
	color: white;
}