.container {
	position: relative;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
	overflow: hidden;
	cursor: pointer;
	border: 5px solid rgba(0, 0, 0, .1);
	transition: transform 0.3s;
}

.container:hover {
	transform: scale(1.1);
}

.container button {
	position: absolute;
}

.container button:hover {
	background: transparent;
	color: lightgray;
}


@media screen and (orientation:portrait) {
	.container {
		width: initial;
	}
}